
<div class="col-sm-12 col-md-12 main">
  <h1 class="page-header">Competitive Analysis</h1>

  <div class="row">
    <div class="col-md-4">
      <form class="form-inline">
        <div class="form-group">
          <label class="sr-only">Ticker</label>
          <p class="form-control-static">Ticker</p>
        </div>
        <div class="form-group">
          <input type="text" ng-model="ticker" class="form-control" placeholder="FB">
        </div>
        <button type="submit" class="btn btn-success" ng-click="go()">Go</button>
      </form>
    </div>
    <div class="col-md-6">
      <table ng-if="profile.sector" class="table table-bordered" id="profileGrid">
        <tr>
          <th>Sector</th>
          <td>{{profile['sector']}}</td>
          <th>Industry</th>
          <td>{{profile['industry']}}</td>
        </tr>
      </table>
    </div>
  </div>

  <h3 class="sub-header">Data <span ng-if="data.length">({{tickerDisplay}})</span></h3>
  <div class="table-responsive" id="compGrid" ng-controller="compTableController">
    <table class="table table-bordered" datatable="ng"  dt-instance="dtInstance" dt-options="tableOptions" dt-column-defs="tableColumnDefs" dt-disable-deep-watchers="true">
      <thead>
        <tr>
          <th rowspan="2" id="tickerColumn">Ticker</th>
          <th colspan="4">Overview</th>
          <th colspan="4">Liquidity</th>
          <th colspan="6">Profitability</th>
          <th colspan="5">Solvency</th>
          <th colspan="3">Operation (Manufacturing and Merchandise)</th>
          <th colspan="4">Cash Flow</th>
          <th colspan="7">Valuation</th>
        </tr>
        <tr>
          <th>Market Capitalization</th>
          <th>Stock Price</th>
          <th>52 Week Range</th>
          <th>Short Interest Ratio</th>

          <th>Current Ratio</th>
          <th>Quick Ratio</th>
          <th>Cash Conversion Cycle</th>
          <th>Cash Ratio</th>

          <th>Gross Profit Margin</th>
          <th>Operating Margin</th>
          <th>Net Profit Margin</th>
          <th>Return on Assets</th>
          <th>Return on Equity</th>
          <th>Return on Invested Capital</th>

          <th>Debt to Asset</th>
          <th>Debt to Equity</th>
          <th>Capital Structure</th>
          <th>Interest Coverage Ratio</th>
          <th>FCF to Debt</th>

          <th>Asset Turnover Ratio</th>
          <th>Operating Cycle</th>
          <th>Inventory Cycle</th>

          <th>Operating Cash Flow/Sales</th>
          <th>Free Cash Flow / Operating Cash</th>
          <th>Cash Flow Coverage</th>
          <th>Dividend/Share</th>

          <th>Price/Book</th>
          <th>P/E (Forward, Trailing)</th>
          <th>P/E to Growth</th>
          <th>Price/Sales</th>
          <th>Price/NAV</th>
          <th>Dividend Yield</th>
          <th>EV/EBITDA</th>
        </tr>
      </thead>
      <tbody>                
        <tr ng-repeat="ticker in data">
          <th>{{ticker['Symbol']}} - {{ticker['Name']}}</th>
          <td>{{ticker['Market Capitalization']}}</td>
          <td>{{ticker['Last Trade (Price Only)']}}</td>
          <td>{{ticker['52-week Range']}}</td>
          <td>{{ticker['Short Ratio']}}</td>


          <td>{{ticker['Current Ratio']}}</td>
          <td>{{ticker['Quick Ratio']}}</td>
          <td>{{ticker['Cash Conversion Cycle']}}</td>
          <td>{{ticker['Cash Ratio']}}</td>

          <td>{{ticker['Gross Margin']}}</td>
          <td>{{ticker['Operating Margin']}}</td>
          <td>{{ticker['Net Profit Margin']}}</td>
          <td>{{ticker['Return on Assets']}}</td>
          <td>{{ticker['Return on Equity']}}</td>
          <td>{{ticker['Return on Invested Capital']}}</td>

          <td>{{ticker['Debt to Asset']}}</td>
          <td>{{ticker['Debt to Equity']}}</td>
          <td>{{ticker['Capital Structure']}}</td>
          <td>{{ticker['Interest Coverage Ratio']}}</td>
          <td>{{ticker['FCF to Debt']}}</td>

          <td>{{ticker['Asset Turnover Ratio']}}</td>
          <td>{{ticker['Operating Cycle']}}</td>
          <td>{{ticker['Inventory Cycle']}}</td>

          <td>{{ticker['Operating Cash Flow/Sales']}}</td>
          <td>{{ticker['Free Cash Flow/Operating Cash']}}</td>
          <td>{{ticker['Cash Flow Coverage']}}</td>
          <td>{{ticker['Dividend/Share']}}</td>

          <td>{{ticker['Price/Book']}}</td>
          <td>{{ticker['P/E Ratio']}}</td>
          <td>{{ticker['PEG Ratio']}}</td>
          <td>{{ticker['Price/Sales']}}</td>
          <td><!-- Price/NAV --></td>
          <td>{{ticker['Dividend Yield']}}</td>
          <td><!-- EV/EBITDA --></td>
        </tr>
      </tbody>
    </table>
  </div>    <!-- #compGrid -->
</div>    <!-- col-sm-12 main -->