<!DOCTYPE html>
<!-- Based on HTML5 Bones | http://html5bones.com -->

<html lang="en" ng-app="stocky">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Stocky</title>
  
  <meta name="description" content="">
  
  <!-- Style sheet link -->
  <link href="static/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" media="all">
  <link href="static/css/main.css" rel="stylesheet" media="all">

  <script src="static/bower_components/angular/angular.min.js"></script>
  <script src="static/bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
  <script src="static/bower_components/angular-resource/angular-resource.min.js"></script>
  <script src="static/js/main.js"></script>

</head>
<body ng-controller="mainController">
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">Stocky</a>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li class="active"><a href="#">Competitive Analysis <span class="sr-only">(current)</span></a></li>
          </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">Competitive Analysis</h1>

          <form class="form-inline">
            <div class="form-group">
             <label class="sr-only">Ticker</label>
             <p class="form-control-static">Ticker</p>
           </div>
           <div class="form-group">
             <input type="text" ng-model="ticker" class="form-control" placeholder="FB">
           </div>
           <button type="submit" class="btn btn-success" ng-click="go()">Go</button>
         </form>

         <h2 class="sub-header">Data</h2>
         <div class="table-responsive">
          <table class="table table-bordered" id="compGrid">
            <tr>
              <td colspan="2"> </td>
              <th ng-repeat="ticker in data">
                {{ticker['Symbol']}} - {{ticker['Name']}}
              </th>
            </tr>
            <tr>
              <th class="verticalTitle1" rowspan="4">Overview</th>
              <th class="verticalTitle2">Market Capitalization</th>
              <td ng-repeat="ticker in data">
                {{ticker['Market Capitalization']}}
              </td>
            </tr>
            <tr>
              <th class="verticalTitle2">Stock Price</th>
              <td ng-repeat="ticker in data">
                {{ticker['Ask']}}
              </td>
            </tr>
            <tr>
              <th class="verticalTitle2">52 Week Range</th>
              <td ng-repeat="ticker in data">
                {{ticker['52-week Range']}}
              </td>
            </tr>
            <tr>
              <th class="verticalTitle2">Short Interest Ratio</th>
              <td ng-repeat="ticker in data">
                {{ticker['Short Ratio']}}
              </td>
            </tr>
            <tr>
              <th class="verticalTitle1" rowspan="4">Liquidity</th>
              <th class="verticalTitle2">Current Ratio</th>
              <td ng-repeat="ticker in data">

              </td>
            </tr>
            <tr>
              <th class="verticalTitle2">Quick Ratio</th>
              <td ng-repeat="ticker in data">

              </td>
            </tr>
            <tr>
              <th class="verticalTitle2">Cash Conversion Cycle</th>
              <td ng-repeat="ticker in data">
                
              </td>
            </tr>
            <tr>
              <th class="verticalTitle2">Cash Ratio</th>
              <td ng-repeat="ticker in data">
                
              </td>
            </tr>
            <tr>
              <th class="verticalTitle1" rowspan="6">Profitability</th>
              <th class="verticalTitle2">Gross Profit Margin</th>
              <td ng-repeat="ticker in data">
                
              </td>
            </tr>
            <tr>
              <th class="verticalTitle2">Operating Profit Margin</th>
              <td ng-repeat="ticker in data">
                
              </td>
            </tr>
            <tr>
              <th class="verticalTitle2">Net Profit Margin</th>
              <td ng-repeat="ticker in data">
                
              </td>
            </tr>
            <tr>
              <th class="verticalTitle2">Return on Assets</th>
              <td ng-repeat="ticker in data">
                
              </td>
            </tr>
            <tr>
              <th class="verticalTitle2">Return on Equity</th>
              <td ng-repeat="ticker in data">
                
              </td>
            </tr>
            <tr>
              <th class="verticalTitle2">Return on Invested Capital</th>
              <td ng-repeat="ticker in data">
                
              </td>
            </tr>
            <tr>
              <th class="verticalTitle1" rowspan="5">Solvency</th>
              <th class="verticalTitle2">Debt to Asset</th>
              <td ng-repeat="ticker in data">
                
              </td>
            </tr>
            <tr>
              <th class="verticalTitle2">Debt to Equity</th>
              <td ng-repeat="ticker in data">
                
              </td>
            </tr>
            <tr>
              <th class="verticalTitle2">Capital Structure</th>
            </tr>
            <tr>
              <th class="verticalTitle2">Interest Coverage Ratio</th>
              <td ng-repeat="ticker in data">
                
              </td>
            </tr>
            <tr>
              <th class="verticalTitle2">FCF to Debt</th>
              <td ng-repeat="ticker in data">
                
              </td>
            </tr>
            <tr>
              <th class="verticalTitle1" rowspan="3">Operation (Manufacturing and Merchandise)</th>
              <th class="verticalTitle2">Asset Turnover Ratio</th>
              <td ng-repeat="ticker in data">
                
              </td>
            </tr>
            <tr>
              <th class="verticalTitle2">Operating Cycle</th>
              <td ng-repeat="ticker in data">
                
              </td>
            </tr>
            <tr>
              <th class="verticalTitle2">Inventory Cycle</th>
              <td ng-repeat="ticker in data">
                
              </td>
            </tr>
            <tr>
              <th class="verticalTitle1" rowspan="4">Cash Flow</th>
              <th class="verticalTitle2">Operating Cash Flow/Sales</th>
              <td ng-repeat="ticker in data">
                
              </td>
            </tr>
            <tr>
              <th class="verticalTitle2">Free Cash Flow/Operating Cash</th>
              <td ng-repeat="ticker in data">
                
              </td>
            </tr>
            <tr>
              <th class="verticalTitle2">Cash Flow Coverage</th>
              <td ng-repeat="ticker in data">
                
              </td>
            </tr>
            <tr>
              <th class="verticalTitle2">Dividend Payout</th>
              <td ng-repeat="ticker in data">

              </td>
            </tr>
            <tr>
              <th class="verticalTitle1" rowspan="8">Valuation</th>
              <th class="verticalTitle2">Price/Book</th>
              <td ng-repeat="ticker in data">
                {{ticker['Price/Book']}}
              </td>
            </tr>
            <tr>
              <th class="verticalTitle2">Price/Earnings (Forward, Trailing)</th>
              <td ng-repeat="ticker in data">
                {{ticker['P/E Ratio']}}
              </td>
            </tr>
            <tr>
              <th class="verticalTitle2">P/E to Growth</th>
              <td ng-repeat="ticker in data">
                {{ticker['PEG Ratio']}}
              </td>
            </tr>
            <tr>
              <th class="verticalTitle2">Price/Sales</th>
              <td ng-repeat="ticker in data">
                {{ticker['Price/Sales']}}
              </td>
            </tr>
            <tr>
              <th class="verticalTitle2">Price/NAV</th>
              <td ng-repeat="ticker in data">

              </td>
            </tr>
            <tr>
              <th class="verticalTitle2">Dividend Yield</th>
              <td ng-repeat="ticker in data">
                {{ticker['Dividend Yield']}}
              </td>
            </tr>
            <tr>
              <th class="verticalTitle2">Cash Flow Coverage</th>
            </tr>
            <tr>
              <th class="verticalTitle2">EV/EBITDA</th>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</body>
</html>